body {
	background: url('http://localhost/ChatApplication/images/background.jpg');
	background-size: cover;
}

h1 {
	color: white;
	margin-bottom: 40px;
}

.form {
	height: 400px;
	width:280px;
	background: black;
	float: right;
	margin-right: 200px;
	margin-top:100px;
	border-radius: 10px; 
}

.registerform {
	height: 450px;
	width:280px;
	background: black;
	float: right;
	margin-right: 200px;
	margin-top:100px;
	border-radius: 10px; 
}

input[type='text'], input[type='password'] {
	margin:0 40px 40px 40px;
	border: 1px solid skyblue;
	border-radius: 60px;
	height: 30px;
	width: 200px;
	color: white;
	text-align: center;
	background: black;
}
input[type='submit']{
	margin:0 40px 40px 40px;
	border: 1px solid grey;
	border-radius: 60px;
	height: 30px;
	width: 100px;
	color: white;
	text-align: center;
	background: #95b8ef;
}
input[type='submit']:hover{
	margin:0 40px 40px 40px;
	border: 1px solid grey;
	border-radius: 60px;
	height: 30px;
	width: 140px;
	text-align: center;
	color: white;
	background: #355c98;
	cursor: pointer;
}
input[type='text']:hover, input[type='password']:hover {
	margin:0 20px 40px 20px;
	border: 1px solid orange;
	border-radius: 60px;
	height: 30px;
	width: 240px;
	text-align: center;
	color: rgba(249, 105, 14, 1);
	background: black;
	outline: none;
}
input:focus {
    outline: none !important;
}
p{
	color: red;
	margin:0px 40px 40px 40px;
}